.container {
  display: flex;
  justify-content: space-around;
}

.card-text {
  text-align: center;
  font-size: 20px;
}

.card-title {
  text-align: center;
}

.card {
  border-radius: 20px;
  text-align: center;
  padding: 1em;
}

.card-body {
  height: 300px;
}

.card:hover {
  background-color: rgba(72, 215, 205, 0.1);
}

.contact {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  background-color: rgb(24, 22, 22);
  text-align: center;
  color: white;
}

.end {
  padding-top: 10px;
}
